<h1>Questions#show</h1>
<p>Find me in app/views/questions/show.html.erb</p>

<h1><%= @question.title %></h1>
<p><%= @question.body %></p>
<p>
<%= link_to "Edit", edit_question_path(@question), class: 'btn btn-success' %> |
<%= link_to "Delete", @question, method: :delete %>
</p>

<%= link_to "Back to Questions home page", questions_path %>



